[Unit]
Description=Telegram bot 'ex'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/bal
ExecStart=/usr/bin/python3 /home/bal/ex.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target